<% content_for :title, "Life of a Dev" %>

<div id="results">
<%= render :partial => 'post', :collection => @posts %>
</div>

<br>
<%= will_paginate @orders %>
<%= pageless(@posts.total_pages, posts_path) %>