// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post {
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #d3d3d3;
  box-shadow: 5px 5px 10px #d3d3d3;
  -webkit-box-shadow: 5px 5px 10px #d3d3d3;
}

#post #title {
  font-size: 2em;
  margin-bottom: 10px;
  color: #393939;
  font-weight: bold;
  font-family: 'Patua One', sans-serif;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
}

#post #title a {
  text-decoration: none;
  color: #555;
}

#post #title a:hover {
  text-decoration: none;
  background-color: #fff;
  color: #0071BB;
}

#post #content {
  padding-left: 20px;
  font: 16px 'PT Sans', sans-serif;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
}

blockquote {
  border-left: 8px solid #0071BB;
  padding-left: 10px;
}

#post #info {
	margin-top: 20px;
	text-align: right;
	font-size: 11px;
	padding-bottom: 8px;
}

.label-comments {
	background: url(comments.png) no-repeat;
}

.label-calendar {
	background: url(calendar.png) no-repeat;
}


