body {
	margin: 0 auto;
	width: 1000px;
	background: url(body.png) scroll repeat top center #E4E4E4;
	color: #4c4c4c;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "footer-logoHelvetica Neue", "Segoe UI", "Helvetica", "Arial", "Sans Serif";
  font-size: 15px;
  line-height: 20px;
}

#left {
	float: left;
	width: 250px;
	position: fixed;
	z-index: 1;
}

#center {
	float: right;
	width: 700px;
	padding-top: 20px;
}

h1 {
  	border-bottom: 1px dotted #d3d3d3;
}

h2 {
  	border-bottom: 1px dotted #d3d3d3;
}

p, ol, ul, td {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "footer-logoHelvetica Neue", "Segoe UI", "Helvetica", "Arial", "Sans Serif";
  font-size: 15px;
  line-height: 22px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #0071BB;
  &:visited {
    color: #0071BB;
  }
  &:hover {
    color: #0071BB;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.submit-button {
	margin: 0 auto;
	text-align: center;
	padding-top:10px;
	padding-bottom: 10px;
}

div.field {
	width: 50%;
	margin: 0 auto;
	text-align: right;
	padding: 5px;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

#main-logo {
	margin-right: 20px;
}

#main-text	 {
	float: none;
	margin: 0 60px 0 0;
	text-align: center;
	font-size: 15px;
	border-bottom: 1px dotted #d3d3d3;
	padding-bottom: 20px;
}

#footer {
	font-size: 13px;
}

.button-submit-centered {
	text-align: center;
	margin-right: 100px;
}
