// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user {
	margin: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #d3d3d3;
  box-shadow: 5px 5px 10px #d3d3d3;
  -webkit-box-shadow: 5px 5px 10px #d3d3d3;
  min-height: 100px;
}
#user form {
	margin-left: 50px;
}
#user_bio_md {
	width: 70%;
	height: 150px;
}

#user #avatar img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline;
	float: left;
}

#info {
	margin-left: 100px;
}

#user #username {
	font-size: 20px;
	margin-bottom: 10px;
}

#user #email {
	margin-bottom: 10px;
}